.docker-contents
.git
.editorconfig
.env
.env.*
.eslintrc.js
.gitattributes
.gitignore
.phpstorm.meta.php
.prettierrc
ecs.php
jsconfig.json
phpstan.neon
phpunit.xml
README.md
tests
public/hot
vendor
_ide_helper_models.php
_ide_helper.php
.gitignore
docker-compose.yml
node_modules
