@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

h1 {
    @apply text-3xl;
}
h2 {
    @apply text-2xl;
}
h3 {
    @apply text-xl;
}
h4 {
    @apply text-lg;
}

a {
    @apply text-uc-dkbrown;
}

#breadcrumb nav ol {
    @apply flex flex-row p-2;
}

#breadcrumb nav ol li {
}

#breadcrumb nav ol li::after {
    content: ">";
    @apply m-2;
}

#breadcrumb nav ol li:last-child::after {
    content: none;
}

.main-article::before {
    content: "[";
}

.main-article::after {
    content: "]";
}
.creature-descriptions section p {
    @apply my-1 md:mx-3;
}
#evolutionary-line ol li::after {
    content: "→";
}
.section-title a {
    color: #000;
}
.section-title a::before {
    @apply mr-1 text-uc-dkbrown;
    content: "#";
}
